/*-------------------
       Hovering
--------------------*/

.ui.hovering.card,
.ui.card > .hovering.content {
	position: absolute;
	width: 100% !important;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 !important;
	display: none;
	cursor: pointer;
	z-index: 9999999;
}
.ui.cards > .card:hover > .card.hovering,
.ui.card:hover > .card.hovering,
.ui.card > .hovering.content {
	display: block;
}

/*-------------------
       Transitional
--------------------*/
.ui.transitional.card {
	transition: height .3s cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s;
	height: 100px;
}
.ui.transitional.card:hover {
	transition: height .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
	height: 460px;
}
.ui.transitional.card .default {
	transition: opacity .1s cubic-bezier(0.785, 0.135, 0.150, 0.860) .6s,
				padding .1s cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s;
}
.ui.transitional.card:hover .default {
	transition: opacity .1s cubic-bezier(0.785, 0.135, 0.150, 0.860),
				padding .1s cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s;
}
.ui.transitional.card .hover {
	transition: opacity .3s cubic-bezier(0.785, 0.135, 0.150, 0.860),
				padding .1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.ui.transitional.card:hover .hover {
	transition: opacity .1s cubic-bezier(0.785, 0.135, 0.150, 0.860) .5s,
				padding .1s cubic-bezier(0.785, 0.135, 0.150, 0.860) .5s;
}
.ui.transitional.card .default {
	height: 0;
}
.ui.transitional.card .hover {
	opacity: 0;
}
.ui.transitional.card:hover .default {
	opacity: 0;
	padding: 0;
	height: 0;
}
.ui.transitional.card:hover .hover {
	opacity: 1;
}

/*--------------
  Inner Card Rounded Edges
---------------*/

.ui.cards > .card > .card:first-child,
.ui.card > .card:first-child {
  border-radius: 0.28571429rem !important;
}
.ui.cards > .card > .card:last-child,
.ui.card > .card:last-child {
  border-radius: 0.28571429rem !important;
}

/*----------------
 text underline on hover
-----------------*/

.ui.cards > .card .underline:hover,
.ui.card .underline:hover {
  text-decoration: underline;
}