<div class="ui grid">
	{% set j = 3 %}
	{% set jArray = Array(j) %}
	{% for x, y in jArray %}
	<div class="doubling four column row">
	{% set i = 4 %}
	{% set iArray = Array(i) %}
	{% for x, y in iArray %}
		<div class="column">
			<div class="ui fluid expanding card">
				<div class="center aligned content">
					<p>
						<img src="img/wordpress.png" alt="" class="ui mini image">
					</p>
					<div class="header">Wordpress</div>
				</div>
				<div class="hover shown expansion">
					<div class="ui fluid card">
						<div class="content">
							<span class="glyphicons glyphicons-group"></span>
							<span class="glyphicons glyphicons-cart-out"></span>
							<span class="right floated glyphicons glyphicons-option-horizontal"></span>
						</div>
						<div class="center aligned content">
							<a class="underline">
								<img src="img/wordpress.png" alt="" class="ui mini spaced image"><b>Wordpress</b></a>
						</div>
						<div class="center aligned image">
							<img src="img/wordpress.png">
						</div>
						<div class="center aligned content">
							<span class="glyphicons glyphicons-play-button"></span>Deploy
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
	{% endfor %}
</div>